[submodule "it-brasil/it_brasil"]
	path = it-brasil/it_brasil
	url = git@github.com:it-brasil/it_brasil.git
	branch = main

[submodule "it-brasil/l10n"]
	path = it-brasil/l10n
	url = git@github.com:it-brasil/it_brasil.git
	branch = main

[submodule "it-brasil/odoo-account-payment"]
	path = it-brasil/odoo-account-payment
	url = git@github.com:it-brasil/odoo-account-payment.git
	branch = 14.0

[submodule "it-brasil/odoo-bank-payment"]
	path = it-brasil/odoo-bank-payment
	url = git@github.com:it-brasil/odoo-bank-payment.git
	branch = 14.0

[submodule "it-brasil/odoo-mis-builder"]
	path = it-brasil/odoo-mis-builder
	url = git@github.com:it-brasil/odoo-mis-builder.git
	branch = 14.0

[submodule "it-brasil/odoo-reporting-engine"]
	path = it-brasil/odoo-reporting-engine
	url = git@github.com:it-brasil/odoo-reporting-engine.git
	branch = 14.0

[submodule "it-brasil/odoo-server-ux"]
	path = it-brasil/odoo-server-ux
	url = git@github.com:it-brasil/odoo-server-ux.git
	branch = 14.0

[submodule "it-brasil/purchase-workflow"]
	path = it-brasil/purchase-workflow
	url = git@github.com:it-brasil/purchase-workflow.git
	branch = 14.0

[submodule "it-brasil/odoo-sale-workflow"]
	path = it-brasil/odoo-sale-workflow
	url = git@github.com:it-brasil/odoo-sale-workflow.git
	branch = 14.0
